$fontFamily: 'DM Sans';

$secondaryFontFamily: sans-serif;

$fontSize: toRem(12);

$lightColor: #fff;

$fontWeight: 700;

$darkColor: #000;

$borderColorDark: hsla(0, 0%, 0%, 0.25);

$borderColorLight: hsla(0, 0%, 100%, 0.25);

$hoverButtonBacground: #DFDFDF;

$backgroundCardColor: #979797;

$linearGradientRainbow: linear-gradient(27deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);

$linearGradientCard: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0.27%, rgba(0, 0, 0, 0.66) 100%);

$linearGradientHeroStories: radial-gradient(94.05% 94.05% at 0% 100%, #FFC593 0%, rgba(188, 113, 152, 0.50) 52.36%, rgba(90, 119, 255, 0.00) 100%);

$articlesBackground: #F5F5F5;