$fontFamily: "Circular Std", sans-serif;

$fontSize: toRem(18);

$fontColor: #313131;

$greyColor: #5f5f5f;

$greyColor-2: #b8b8b8;

$whiteColor: #fff;

$whiteColor-2: #e0e0e0;

$whiteColor-3: #f8f9fc;

$bgc-1: #ccb8b8;

$bgc-2: #626161;

$bgc-3: #eef7fb;

$bgc-4: #94dbf9;

$darkColor: #000;

$darkColorOpacity: hsla(0, 0%, 0%, 0.2);

$darkColorOpacity-2: rgba(49, 49, 49, 0.05);

$yellowColor: #ffe600;

$yellowColor-2: #ffe500;

$yellowColor-3: hsla(54, 100%, 50%, 0.1);

$yellowColor-4: hsla(54, 100%, 50%, 0.8);

$boxShadow: rgba(201, 203, 204, 0.3);

$boxShadow-2: rgba(141, 147, 201, 0.08);

$markColor: #ff5f5f;
