@use "sass:math";

@import "_reset.scss";

@import "_fonts.scss";

@import "_mixins.scss";

@import "_variables";

@import "_common";

@import "_header.scss";

@import "_footer.scss";

@import url("icon-font.css");

html {
    scroll-behavior: smooth;
}

[class*="__container"] {
    max-width: toRem($maxWidthContainer);
    margin-inline: auto;
    padding-inline: toRem($containerPadding / 2);
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;

    .open-menu & {
        overflow: hidden;
    }
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;

    &--position {
        position: relative;
    }

    main {
        flex-grow: 1;
    }
}
//=====================================================================

.page {
    & > * {
        @include adaptiveValue("margin-bottom", 140, 50);
    }
    // .page__hero

    &__hero {
    }

    // .page__our-partners

    &__our-partners {
    }

    // .page__container

    &__container {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 104%;
            height: calc(100% - toRem(343));
            top: toRem(343);
            right: 8.947%;
            background-color: $yellowColor-2;
            opacity: 0.1;
            z-index: -2;
            @include adaptiveValue("border-top-right-radius", 300, 150, 0, 1400, 850);
            @media (max-width: toEm(849.98)) {
                border-radius: 0;
                right: 0;
            }
        }
        @media (min-width: toEm(768)) {
            display: flex;
            gap: toRem(15);
            justify-content: space-between;
        }
        @media (min-width: toEm(768)) and (max-width: toEm(1200)) {
            padding-inline: toRem(30);
        }
    }

    // .page__decor
    &__decor {
        left: toRem(-190);
        bottom: toRem(-85);
    }

    // .page__about-us

    &__about-us {
    }

    // .page__what-we-do

    &__what-we-do {
    }

    // .page__how-it-works

    &__how-it-works {
    }

    // .page__blog-and-media

    &__blog-and-media {
    }

    // .page__faqs

    &__faqs {
    }

    // .page__what-customes-say

    &__what-customes-say {
    }
}

//=====================================================================
.hero-section {
    // .hero-section__container

    &__container {
        min-height: 100svh;
        gap: toRem(25);
        display: grid;
        @media (min-width: toEm(1000)) {
            grid-template-columns: minmax(toRem(517), 1fr) 1fr;
        }
        @media (toEm(768) < width < toEm(999.98)) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: toEm(767.98)) {
            grid-template-columns: 1fr;
        }
    }

    // .hero-section__content

    &__content {
        @include adaptiveValue("padding-top", 118, 90);
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: toEm(768)) {
            max-width: toRem(517);
        }
    }

    // .hero-section__title

    &__title {
        @include adaptiveValue("font-size", 100, 40);
        font-weight: 900;
        &:not(:last-child) {
            margin-bottom: toRem(18);
        }
    }

    // .hero-section__subtitle

    &__subtitle {
        font-size: toRem(20);
        font-weight: 700;
        line-height: 1.25;

        &:not(:last-child) {
            margin-bottom: toRem(31);
        }
    }

    // .hero-section__text

    &__text {
        font-size: toRem(20);
        font-weight: 400;
        line-height: 1.25;
        @media (min-width: toEm(768)) {
            max-width: toRem(468);
        }

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 66, 30);
        }
    }

    // .hero-section__form

    &__form {
        display: flex;
        @media (max-width: toEm(450)) {
            flex-direction: column;
            gap: toRem(30);
        }
    }

    // .hero-section__input

    &__input {
        padding-block: toRem(17) toRem(19);
        padding-inline: toRem(17);
        border-block: toRem(1) solid $darkColor;
        border-inline-start: toRem(1) solid $darkColor;
        border-radius: toRem(5) 0 0 toRem(5);
        color: $darkColorOpacity;
        font-size: toRem(17);
        max-width: toRem(400);
        transition:
            border-block 0.3s,
            border-inline-start 0.3s;
        &::placeholder {
            color: $darkColorOpacity;
            transition: color 0.3s;
        }
        @media (min-width: toEm(1000)) {
            @include adaptiveValue("flex-basis", 320, 290, 0, 1170, 1000);
            flex-shrink: 0;
        }
        @media (max-width: toEm(450)) {
            border-radius: toRem(5) toRem(5) toRem(5) toRem(5);
            border-inline-end: toRem(1) solid $darkColor;
            max-width: toRem(450);
        }
        @media (any-hover: hover) {
            &:hover {
                border-block: toRem(1) solid $yellowColor-4;
                border-inline-start: toRem(1) solid $yellowColor-4;
            }
            &:hover::placeholder {
                color: $darkColor;
            }
        }
    }

    // .hero-section__button

    &__button {
        border-radius: 0 toRem(5) toRem(5) 0;
        padding-inline: toRem(10);
        @media (min-width: toEm(1000)) {
            @include adaptiveValue("flex-basis", 197, 140, 0, 1170, 1000);
        }
        @media (max-width: toEm(450)) {
            border-radius: toRem(5) toRem(5) toRem(5) toRem(5);
        }
    }

    // .hero-section__inner
    &__inner {
        padding-top: toRem(75);
        position: relative;
        @media (min-width: toEm(768)) {
            margin-right: toRem(50);
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
        }
        &::before {
            width: 100%;
            aspect-ratio: 566 / 317;
            background: url("../img/decor/vector-1.svg") center / contain no-repeat;
            top: 16.63%;
            left: -52.12%;
        }
        &::after {
            width: 146.29%;
            aspect-ratio: 828 / 810;
            background: url("../img/decor/vector-2.svg") center / contain no-repeat;
            top: 3.28%;
            right: -98.59%;
        }
    }
    // .hero-section__box-image

    &__box-image {
        aspect-ratio: 566 / 914;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -2;
            top: 0;
            @include adaptiveValue("right", 33, 17);
            width: 88.339%;
            height: 66.734%;
            border-radius: 0px 0px toRem(250) toRem(250);
            border: toRem(1) solid $darkColor;
            opacity: 0.15;
        }

        &::after {
            content: "";
            position: absolute;
            z-index: -2;
            bottom: 0;
            @include adaptiveValue("right", 33, 17);
            width: 88.339%;
            height: 66.734%;
            border-radius: toRem(250) toRem(250) 0px 0px;
            background-color: $yellowColor;
        }
    }
}
.title {
    display: flex;
    flex-direction: column;
    // .title__first-word

    &__first-word {
        margin-left: toRem(-7);
    }

    // .title__second-word

    &__second-word {
        @include adaptiveValue("padding-left", 62, 15);
        @include adaptiveValue("margin-top", -20, -10);
        display: block;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            @include adaptiveValue("top", -20, -5);
            @include adaptiveValue("left", 0, -3);
            @include adaptiveValue("height", 100, 40);
            @include adaptiveValue("width", 90, 30);
            background: url("../img/icons/&.svg") center / contain no-repeat;
        }
    }
}

// ===================================================================

.our-partners-section {
    // .our-partners-section__container

    &__container {
        position: relative;
        @media (min-width: toEm(768)) {
            display: flex;
            @include adaptiveValue("gap", 87, 15);
            justify-content: space-between;
        }
        & > * {
            &:not(:last-child) {
                margin-bottom: toRem(30);
            }
        }
    }

    // .our-partners-section__decor

    &__decor {
        left: toRem(-173);
        top: toRem(280);
    }

    // .our-partners-section__info

    &__info {
    }

    // .our-partners-section__header

    &__header {
        @media (min-width: toEm(768)) {
            max-width: toRem(491);
        }
    }

    // .our-partners-section__content

    &__content {
        @media (min-width: toEm(768)) {
            grid-template-columns: 1fr 1fr;
            @include adaptiveValue("gap", 40, 15);
            display: grid;
        }
        @media (max-width: toEm(767.98)) {
            display: none;
        }
    }

    // .our-partners-section__slide

    &__slide {
        @include adaptiveValue("height", 108, 70, 0, 1400, 768);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: toRem(10);
        background: $whiteColor;
        box-shadow: 0 toRem(20) toRem(50) 0 $darkColorOpacity-2;
        @media (min-width: toEm(768)) {
            @include adaptiveValue("width", 261, 150, 0, 1400, 768);
        }
        img {
            width: auto;
            max-width: 100%;
        }
    }
    &__scroller {
    }
}

.scroller {
    @media (min-width: toEm(768)) {
        display: none;
    }
    @media (max-width: toEm(767.98)) {
        display: block;
        max-width: toRem(738);
    }
    // .scroller__inner
    &__inner {
        display: flex;
        gap: toRem(30);
        flex-wrap: wrap;
        justify-content: center;
        img {
            @include adaptiveValue("width", 225, 200);
            aspect-ratio: 225 / 70;
            object-fit: contain;
        }
    }
    &[data-animated="true"] {
        overflow: hidden;
        webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    }
    &[data-animated="true"] .scroller__inner {
        flex-wrap: nowrap;
        animation: scroll 20s linear infinite;
        justify-content: flex-start;
        width: max-content;
    }
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - toRem(15)));
    }
}

// ===================================================================

.about-us-section {
    // .about-us-section__header

    &__header {
        @media (min-width: toEm(768)) {
            max-width: toRem(491);
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 75, 30);
        }
    }

    // .about-us-section__inner
    &__inner {
        @media (max-width: toEm(767.98)) {
            display: flex;
            justify-content: flex-end;
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 75, 40);
        }
    }

    // .about-us-section__img

    &__img {
        position: relative;
        max-width: toRem(509);
        aspect-ratio: 509 / 676;
        img {
            border-top-left-radius: toRem(200);
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: toEm(450)) {
                border-top-left-radius: toRem(160);
            }
        }
        @media (max-width: toEm(767.98)) {
        }
        @media (min-width: toEm(1300)) {
            transform: translateX(toRem(-40));
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            @include adaptiveValue("top", 22, 0);
            @include adaptiveValue("left", -25, 0);
            border-top-left-radius: toRem(200);
            border: toRem(1) solid $fontColor;
            z-index: 2;
            @media (max-width: toEm(450)) {
                border-top-left-radius: toRem(160);
            }
        }
    }

    // .about-us-section__text

    &__text {
        color: $greyColor;
        font-size: toRem(20);
        @media (min-width: toEm(768)) {
            max-width: toRem(509);
        }
        @media (min-width: toEm(1300)) {
            transform: translateX(toRem(-40));
        }
        & > * {
            &:not(:last-child) {
                margin-bottom: toRem(10);
            }
        }
    }
}

// ===================================================================

.what-we-do-section {
    @media (min-width: toEm(768)) {
        padding-block: toRem(413) toRem(129);
    }
    @media (max-width: toEm(767.98)) {
        padding-block: toRem(30);
    }

    // .what-we-do-section__header

    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 145, 30);
        }
        @media (min-width: toEm(768)) {
            @include adaptiveValue("max-width", 418, 350, 0, 850, 1050);
        }
    }

    // .what-we-do-section__img

    &__img {
        position: relative;
        max-width: toRem(586);
        aspect-ratio: 586 / 905;
        img {
            border-bottom-right-radius: toRem(200);
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: toEm(450)) {
                border-bottom-right-radius: toRem(160);
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            @include adaptiveValue("top", 19, 0);
            @include adaptiveValue("left", 24, 0);
            border-bottom-right-radius: toRem(200);
            border: toRem(1) solid $fontColor;
            z-index: 2;
            @media (max-width: toEm(450)) {
                border-bottom-right-radius: toRem(160);
            }
        }
    }
}

//======================================================================

.how-it-works-section {
    // .how-it-works-section__container

    &__container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr toRem(1) 1fr;
        gap: toRem(40);
        @include adaptiveValue("gap", 40, 10);
        @media (max-width: toEm(767.98)) {
            grid-template-columns: 1fr;
        }
    }

    // .how-it-works-section__initial

    &__initial {
    }

    // .how-it-works-section__header

    &__header {
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
    }

    // .how-it-works-section__actions

    &__actions {
        display: flex;
        column-gap: toRem(30);
        row-gap: toRem(15);
        @media (max-width: toEm(450)) {
            flex-direction: column;
        }
    }

    // .how-it-works-section__link

    &__link {
    }

    // .how-it-works-section__button

    &__button {
    }

    // .how-it-works-section__decor-line
    &__decor-line {
        @media (min-width: toEm(768)) {
            width: toRem(1);
            height: 100%;
            background-color: $whiteColor-2;
        }
    }

    // .how-it-works-section__spollers

    &__spollers {
    }

    // .how-it-works-section__decor

    &__decor {
        bottom: toRem(-184);
        right: toRem(-214);
    }
}

//======================================================================

.blog-and-media-section {
    // .blog-and-media-section__container

    &__container {
        padding-block-end: toRem(36);
    }

    // .blog-and-media-section__header

    &__header {
        max-width: toRem(662);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 123, 60);
        }
    }

    // .blog-and-media-section__body

    &__body {
        @include adaptiveValue("padding-inline", 20, 0);
        display: flex;
        column-gap: toRem(24);
        row-gap: toRem(100);
        flex-wrap: wrap;
    }

    // .blog-and-media-section__article

    &__article {
    }
}

//======================================================================

.faqs-section {
    & > * {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
    }
    // .faqs-section__container

    &__container {
    }

    // .faqs-section__header

    &__header {
    }

    // .faqs-section__body

    &__body {
        background-color: $yellowColor-3;
    }

    // .faqs-section__content

    &__content {
        @include adaptiveValue("padding-block", 90, 30);
        display: flex;
        flex-wrap: wrap;
        gap: toRem(30);
    }

    // .faqs-section__card

    &__card {
    }
}

//======================================================================

.what-customes-say-section {
    // .what-customes-say-section__container

    &__container {
        position: relative;
    }

    // .what-customes-say-section__header

    &__header {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 67, 30);
        }
        @media (min-width: toEm(768)) {
            max-width: toRem(750);
            margin-inline: auto;
        }
    }

    // .what-customes-say-section__slider

    &__slider {
        @media (max-width: toEm(767.98)) {
            &:not(:last-child) {
                margin-bottom: toRem(20);
            }
        }
    }

    // .what-customes-say-section__wrapper

    &__wrapper {
        display: flex;
    }

    // .what-customes-say-section__slide

    &__slide.swiper-slide {
        @include adaptiveValue("padding-inline", 55, 0);
        display: flex;
        justify-content: space-between;
        column-gap: toRem(15);
        row-gap: toRem(30);
        @media (max-width: toEm(767.98)) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    // .what-customes-say-section__pagination

    &__pagination.swiper-pagination {
        width: toRem(36);
        height: toRem(12);
        display: flex;
        gap: toRem(6);
        @media (min-width: toEm(768)) {
            position: absolute;
            @include adaptiveValue("left", 55, 0);
            bottom: toRem(26);
        }
        @media (max-width: toEm(767.98)) {
            position: static;
            margin-inline: auto;
            margin-top: toRem(20);
        }
    }
}

.slide {
    // .slide__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 1;
    }

    // .slide__title

    &__title {
        @include adaptiveValue("font-size", 34, 24);
        font-weight: 700;
        line-height: 1.3;
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }

    // .slide__text

    &__text {
        color: $greyColor;
        font-size: toRem(18);
        line-height: 1.56; /* 28/18 */
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
        @media (min-width: toEm(768)) {
            max-width: toRem(508);
        }
    }

    // .slide__reting

    &__reting {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }

    // .slide__name

    &__name {
        font-size: toRem(18);
        font-weight: 700;
        line-height: 1.3;
        &:not(:last-child) {
            margin-bottom: toRem(5);
        }
    }

    // .slide__profession

    &__profession {
        color: $greyColor-2;
        font-size: toRem(18);
    }

    // .slide__box-img
    &__box-img {
    }

    // .slide__image

    &__image {
        @include adaptiveValue("padding-inline", 33, 10);
        position: relative;
        aspect-ratio: 401 / 674;
        display: flex;
        justify-content: center;
        flex-shrink: 1;
        max-width: toRem(738);
        min-width: toRem(270);
        img {
            width: 100%;
            height: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 83%;
            left: 0;
            bottom: 0;
            background-color: $yellowColor-2;
            border-radius: 50% 50% 0 0 / 41.79% 41.79% 0 0;
            opacity: 0.1;
            z-index: -1;
        }
        @media (min-width: toEm(768)) {
            max-width: toRem(468);
        }
    }
}

.reting {
    position: relative;
    width: fit-content;
    // .reting__gray
    &__gray {
        display: flex;
        gap: toRem(5);
        align-items: center;
        justify-content: center;
        img {
            width: toRem(25);
            height: toRem(25);
            object-fit: contain;
        }
    }
    // .reting__yellow
    &__yellow {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        object-fit: cover;
        object-position: left;
        display: flex;
        gap: toRem(5);
        align-items: center;
        overflow: hidden;
        img {
            width: toRem(25);
            height: toRem(25);
            object-fit: contain;
        }
    }
}

.bullets__item {
    width: toRem(12);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $bgc-4;
    &--active {
        background-color: $darkColor;
    }
}

//======================================================================

.footer {
    background-color: $fontColor;
    // .footer__container

    &__container {
        @include adaptiveValue("padding-inline", 40, 15);
        padding-bottom: toRem(24);
        @include adaptiveValue("padding-top", 175, 24);
    }

    // .footer__header

    &__header {
        color: $whiteColor;
        max-width: toRem(490);
        margin-inline: auto;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: toRem(50);
        }
    }

    // .footer__form

    &__form {
        display: flex;
        justify-content: center;
        gap: toRem(20);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 190, 30);
        }
        @media (max-width: toEm(450)) {
            flex-direction: column;
        }
    }

    // .footer__input

    &__input {
        @media (min-width: toEm(450.98)) {
            max-width: toRem(420);
        }
        width: 100%;
        border-block-end: toRem(1) solid $whiteColor-2;
        font-size: toRem(20);
        padding-left: toRem(21);
        min-height: toRem(58);
        transition: border-block-end 0.3s;
        &::placeholder {
            color: $whiteColor-2;
            transition: color 0.3s;
        }
        @media (any-hover: hover) {
            &:hover::placeholder {
                color: $yellowColor-4;
            }
            &:hover {
                border-block-end: toRem(1) solid $yellowColor-4;
            }
        }
    }

    // .footer__button

    &__button {
        border-radius: toRem(5);
        background: $whiteColor;
        box-shadow:
            0px 100px 80px 0px rgba(49, 49, 49, 0.1),
            0px 64.815px 46.852px 0px rgba(49, 49, 49, 0.08),
            0px 38.519px 25.481px 0px rgba(49, 49, 49, 0.06),
            0px 20px 13px 0px rgba(49, 49, 49, 0.05),
            0px 8.148px 6.519px 0px rgba(49, 49, 49, 0.04),
            0px 1.852px 3.148px 0px rgba(49, 49, 49, 0.02);
        color: $fontColor;
        font-size: toRem(17);
        min-width: toRem(160);
    }

    // .footer__content

    &__content {
        @include adaptiveValue("padding-inline", 40, 0);
        display: grid;
        gap: toRem(15);
        @media (min-width: toEm(992)) {
            grid-template-columns: 0.4fr 0.2fr 0.2fr 0.2fr;
        }
        @media (min-width: toEm(768)) and (max-width: toEm(991.98)) {
            grid-template-columns: repeat(4, 1fr);
            gap: toRem(30);
        }
        @media (max-width: toEm(767.98)) {
            grid-template-columns: repeat(2, 1fr);
            gap: toRem(30);
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 75, 30);
        }
    }

    // .footer__logo-address

    &__logo-address {
        & > * {
            &:not(:last-child) {
                margin-bottom: toRem(30);
            }
        }
        @media (max-width: toEm(767.98)) {
            order: 4;
        }
    }

    // .footer__link-logo

    &__link-logo {
        color: $whiteColor;
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $yellowColor-4;
            }
        }
    }

    // .footer__address

    &__address {
        color: $whiteColor;
        font-size: 14px;
        max-width: toRem(192);
        line-height: 1.3;
    }

    // .footer__menu

    &__menu {
    }

    // .footer__copyright

    &__copyright {
        color: $whiteColor;
        font-size: toRem(20);
        text-align: center;
    }
}
.menu-footer {
    // .menu-footer__title

    &__title {
        color: $whiteColor;
        font-size: toRem(20);
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }

    // .menu-footer__list

    &__list {
        & > * {
            &:not(:last-child) {
                margin-bottom: toRem(24);
            }
        }
    }

    // .menu-footer__item

    &__item {
    }

    // .menu-footer__link

    &__link {
        color: $whiteColor;
        font-size: 14px;
        line-height: 1.3;
        font-style: normal;
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $yellowColor-4;
            }
        }
    }
}
