@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.logo__item {
  aspect-ratio: 170/16;
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.list-nav {
  color: #000;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 2.3125rem;
       column-gap: 2.3125rem;
  row-gap: 0.9375rem;
  flex-wrap: wrap;
  align-items: center;
}
.list-nav--light {
  color: #fff;
}
.list-nav--footer {
  -moz-column-gap: 1.625rem;
       column-gap: 1.625rem;
}
@media (max-width: 43.75em) {
  .list-nav {
    -moz-column-gap: 1.375rem;
         column-gap: 1.375rem;
  }
}
.list-nav__item {
  display: flex;
  align-items: center;
}
@media (max-width: 41.875em) {
  .list-nav__item--margin {
    text-align: center;
    margin-bottom: 1.25rem;
  }
}
.list-nav__item--footer {
  min-height: 1rem;
}
@media (max-width: 41.875em) {
  .list-nav__item--footer {
    margin-bottom: 0;
  }
}
@media (min-width: 48.06125em) {
  .list-nav__item--footer {
    align-items: center;
  }
}
.list-nav__link {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.125rem;
  transition: opacity 0.3s;
  line-height: 1;
}
@media (any-hover: hover) {
  .list-nav__link:hover {
    opacity: 0.3;
  }
}

.action-header {
  flex-basis: 10.625rem;
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  flex-shrink: 0;
}
@media (max-width: 46.875em) {
  .action-header {
    flex-basis: 9.9375rem;
  }
}
@media (max-width: 41.875em) {
  .action-header {
    flex-basis: 1.25rem;
  }
}
@media (max-width: 41.875em) {
  .action-header__button {
    min-width: 19.375rem;
  }
}

.button {
  font-weight: 700;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  background-color: #000;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s, color 0.3s;
  color: #fff;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #DFDFDF;
    color: #000;
  }
}

.block-link__item {
  letter-spacing: 2px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #000;
  display: inline-flex;
  gap: 1.125rem;
}
.block-link__item--stories::before {
  content: "";
  position: absolute;
  block-size: 40.625rem;
  inline-size: 45rem;
  inset-inline-start: 0;
  inset-block-end: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  background: radial-gradient(94.05% 94.05% at 0% 100%, #FFC593 0%, rgba(188, 113, 152, 0.5) 52.36%, rgba(90, 119, 255, 0) 100%);
  transition: background 0.5s, opacity 0.5s;
}
.block-link__text {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
}
.block-link__text--dark {
  color: #fff;
}
.block-link__img-arrow {
  aspect-ratio: 42/12;
}
.block-link__img-arrow img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.5s;
  will-change: transform;
}
@media (any-hover: hover) {
  .block-link:hover .block-link__img-arrow img {
    transform: translate(0.625rem);
  }
  .block-link:hover .block-link__text {
    border-bottom: 1px solid #000;
  }
  .block-link:hover .block-link__text--dark {
    border-bottom: 1px solid #fff;
  }
  .block-link:hover .block-link__item--stories::before {
    opacity: 0.4899;
  }
}

@media (any-hover: hover) {
  .card:hover .card__link {
    transform: translateY(-1.875rem);
  }
}
.card__link {
  padding: 2.5rem;
  position: relative;
  z-index: 0;
  aspect-ratio: 0.72/1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.3s;
  will-change: transform;
}
@media (max-width: 25em) {
  .card__link {
    aspect-ratio: 1;
  }
}
.card__link::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.27%, rgba(0, 0, 0, 0.66) 100%);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  z-index: -1;
}
.card__link::after {
  content: "";
  position: absolute;
  background-color: #979797;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}
.card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
.card__time {
  font-size: 0.8125rem;
  font-weight: 400;
}
.card__time:not(:last-child) {
  margin-bottom: 0.25rem;
}
.card__title {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.39;
  /* 25/18 */
  text-transform: capitalize;
}
.card__title:not(:last-child) {
  margin-bottom: 0.25rem;
}
.card__subtitle {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 400;
}
.card__subtitle:not(:last-child) {
  padding-bottom: 1rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
}
.card__items {
  display: flex;
  gap: 0.9375rem;
  justify-content: space-between;
}
.card__item {
  letter-spacing: 2px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #fff;
}
.card__arrow {
  width: 2.625rem;
  height: 0.75rem;
}
.card__arrow img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.advantages {
  text-align: center;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  row-gap: clamp(3.438rem, 2.248rem + 5.08vw, 4.688rem);
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 48.06125em) {
  .advantages {
    grid-template-columns: repeat(3, 1fr);
    row-gap: clamp(5rem, 4.824rem + 0.37vw, 8.125rem);
  }
}
.advantages--home {
  padding-block: clamp(5rem, 2.615rem + 10.18vw, 7.5rem);
}
@media (min-width: 48em) {
  .advantages--features {
    padding-block: clamp(6.875rem, 3.304rem + 7.44vw, 10rem);
  }
}
@media (min-width: 34.375em) and (max-width: 48.06125em) {
  .advantages--features {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 23.4375em) and (max-width: 47.99875em) {
  .advantages--features {
    padding-block: clamp(3.438rem, 1.947rem + 6.36vw, 5rem);
  }
}
@media (max-width: 23.4375em) {
  .advantages--features {
    padding-block: 3.75rem 5.625rem;
  }
}
.advantages__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}
@media (max-width: 48.06125em) {
  .advantages__body {
    max-width: 29.1875rem;
    margin: 0 auto;
  }
}
.advantages__img {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages__img:not(:last-child) {
  margin-bottom: 3rem;
}
.advantages__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.advantages__title {
  font-size: 1.125rem;
  line-height: 1.39;
  /* 25/18 */
}
.advantages__title:not(:last-child) {
  margin-bottom: 1rem;
}
.advantages__text {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.67;
  /* 25/15 */
  opacity: 0.6;
}

.social__list {
  display: flex;
  gap: 0.8125rem;
}
.social__item {
  display: flex;
  align-items: center;
}
.social__link {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}
.social__link img {
  transition: opacity 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.social__link:hover .social__color-icon {
  opacity: 1;
}
.social__link:hover .social__icon {
  opacity: 0;
}
.social__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.social__color-icon {
  opacity: 0;
}

.decor {
  position: absolute;
  background: linear-gradient(27deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
  inline-size: 8rem;
  block-size: 0.375rem;
  inset-block-start: 0;
  inset-inline-start: 2.0625rem;
}
@media (min-width: 48em) {
  .decor {
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 0.375rem;
    block-size: 100%;
  }
}
.decor--article {
  inline-size: 100%;
  inset-inline-start: 0;
  block-size: 0.375rem;
  inset-block-start: 0;
}
@media (min-width: 37.56125em) and (max-width: 53.18625em) {
  .decor--article {
    inline-size: 0.375rem;
    inset-inline-start: 0;
    block-size: 100%;
    inset-block-start: 0;
  }
}

.header--position {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 4.5rem;
  background-color: #fff;
  z-index: 10;
}
.header__container {
  padding-block: 1rem;
  min-height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.9375rem;
  position: relative;
}
@media (max-width: 41.875em) {
  .header__container::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100svh;
    top: 0;
    right: -100%;
    transition: right 0.3s;
    z-index: -1;
    background-color: #000;
    opacity: 0.5;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
@media (max-width: 41.875em) {
  .header__nav {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100vw;
    height: 19.0625rem;
    display: flex;
    flex-direction: column;
    padding-block: 6.5rem 1.875rem;
    background-color: #fff;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 0.15625rem;
    font-size: 0.9375rem;
    transition: right 0.3s;
    overflow: auto;
    z-index: 3;
    max-height: 100%;
  }
  .header__nav::after {
    content: "";
    position: fixed;
    width: 100vw;
    min-height: 4.5rem;
    top: 0;
    right: -100%;
    z-index: 3;
    background-color: #fff;
  }
}
@media (max-width: 41.875em) {
  .header__list {
    flex-direction: column;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.25);
    max-width: 19.375rem;
    width: 100%;
    margin-bottom: 1.25rem;
    gap: 0;
  }
}
.footer {
  background-color: #000;
}
@media (min-width: 48.00125em) {
  .footer__container {
    display: grid;
    grid-template-columns: minmax(10.625rem, 1fr) 1fr 1fr auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "block-logo block-menu . block-link" ". block-menu . ." ". block-menu . ." "block-social block-menu . block-copy";
    row-gap: 1.1875rem;
    padding-block: 4rem;
    -moz-column-gap: 3.125rem;
         column-gap: 3.125rem;
  }
}
@media (min-width: 28.125em) and (max-width: 48em) {
  .footer__container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "block-logo block-link" "block-menu block-menu" ". ." "block-social block-copy";
    row-gap: 2rem;
    padding-block: 4rem;
  }
}
@media (max-width: 28.12375em) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 3.5rem;
  }
}
.footer__logo {
  grid-area: block-logo;
  display: flex;
  align-items: center;
}
@media (max-width: 28.12375em) {
  .footer__logo:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.footer__social {
  grid-area: block-social;
}
@media (max-width: 28.12375em) {
  .footer__social:not(:last-child) {
    margin-bottom: 3.0625rem;
  }
}
.footer__menu {
  display: flex;
  align-items: center;
}
@media (min-width: 48.00125em) {
  .footer__menu {
    grid-row: 1/span 4;
    display: grid;
    row-gap: 1.1875rem;
  }
}
@media (min-width: 28.125em) and (max-width: 48em) {
  .footer__menu {
    grid-area: block-menu;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 28.12375em) {
  .footer__menu:not(:last-child) {
    margin-bottom: 7.4375rem;
  }
}
@media (max-width: 21.56125em) {
  .footer__menu:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 48.00125em) {
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.1875rem;
  }
}
@media (max-width: 28.12375em) {
  .footer__list {
    display: flex;
    flex-direction: column;
  }
}
.footer__link {
  grid-area: block-link;
  line-height: 1;
  display: flex;
  align-items: center;
}
@media (min-width: 28.125em) {
  .footer__link {
    justify-self: end;
  }
}
@media (max-width: 28.12375em) {
  .footer__link:not(:last-child) {
    margin-bottom: 2.125rem;
  }
}
.footer__copyright {
  grid-area: block-copy;
  display: flex;
  align-items: center;
  line-height: 1;
}
@media (min-width: 28.125em) {
  .footer__copyright {
    justify-self: end;
  }
}

html {
  scroll-behavior: smooth;
}

[class*=__container] {
  max-width: 93.75rem;
  margin: 0 auto;
  padding-inline: 1.875rem;
}

body {
  font-family: "DM Sans";
  font-size: 0.75rem;
  color: #fff;
  font-weight: 700;
}
.menu-open body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper--position {
  position: relative;
}
.wrapper main {
  flex-grow: 1;
}

.open-menu {
  display: none;
}
@media (max-width: 41.875em) {
  .open-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 5;
  }
  .open-menu span {
    margin-bottom: 0.3125rem;
  }
  .open-menu::after, .open-menu span {
    content: "";
    width: 1.25rem;
    height: 0.0625rem;
    background-color: #000;
    transition: all 0.3s;
    will-change: transform;
  }
}

.menu-open .header__container::before {
  right: 0;
}
.menu-open .header__nav {
  right: 0;
}
.menu-open .header__nav::after {
  right: 0;
}
.menu-open .open-menu span {
  margin-bottom: 0rem;
  transform: rotate(-45deg) translateY(0.03125rem);
}
.menu-open .open-menu::after {
  transform: rotate(45deg) translateY(-0.03125rem);
}

.page__hero-section {
  position: relative;
}
@media (min-width: 62em) {
  .page__hero-section {
    block-size: calc(100svh - 4.5rem);
  }
}
.page__invite-section {
  position: relative;
}

.section-info {
  min-height: 37.5rem;
  display: flex;
}
.section-info--pricing {
  margin-block-end: 3.75rem;
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .section-info--pricing {
    margin-block-end: 3.5rem;
  }
}
@media (max-width: 37.5em) {
  .section-info--pricing {
    margin-block-end: 2rem;
  }
}
.section-info__body {
  background-color: #fff;
  color: #000;
}
@media (max-width: 48em) {
  .section-info__body {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 48em) {
  .section-info__body {
    display: grid;
    grid-template-columns: 1fr 13.75rem 1fr;
    grid-template-areas: "block-content block-img block-img";
  }
}
@media (max-width: 59.375em) {
  .section-info__body {
    grid-template-areas: "block-content block-content block-img";
  }
}
.section-info__body--dark {
  background-color: #000;
  color: #fff;
}
@media (min-width: 48em) {
  .section-info__body--reverse {
    grid-template-areas: "block-img block-img block-content";
  }
}
@media (max-width: 59.375em) {
  .section-info__body--reverse {
    grid-template-areas: "block-img block-content block-content";
  }
}
.section-info__body--stories {
  position: relative;
}
.section-info__content {
  display: flex;
  align-items: center;
  padding-block: 0.9375rem;
}
@media (max-width: 48em) {
  .section-info__content--features-pricing {
    min-height: 18.75rem;
  }
}
@media (max-width: 48.06125em) {
  .section-info__content--home {
    min-height: 26.1875rem;
  }
}
.section-info__content--stories {
  position: relative;
  z-index: 3;
}
@media (max-width: 48.06125em) {
  .section-info__content--stories {
    min-height: 30.9375rem;
  }
}
@media (min-width: 48em) {
  .section-info__content {
    grid-area: block-content;
  }
}
@media (max-width: 48em) {
  .section-info__content {
    position: relative;
  }
}
.section-info__box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: clamp(3.375rem, -0.719rem + 8.51vw, 6.938rem);
}
@media (max-width: 48.06125em) {
  .section-info__box-content--stories {
    padding-inline: clamp(1.75rem, 1.094rem + 2.8vw, 2.438rem);
  }
}
@media (min-width: 48em) {
  .section-info__box-content--features-pricing, .section-info__box-content--home {
    position: relative;
  }
}
@media (max-width: 23.49875em) {
  .section-info__box-content {
    padding-inline: 1.75rem;
  }
}
.section-info__subtitle {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.section-info__subtitle:not(:last-child) {
  margin-block-end: 1.5rem;
}
@media (max-width: 28.18625em) {
  .section-info__subtitle:not(:last-child) {
    margin-block-end: 1rem;
  }
}
.section-info__title {
  font-size: 2.5rem;
  line-height: 1.2;
  /* 48/40 */
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
@media (max-width: 48.06125em) {
  .section-info__title {
    font-size: clamp(2rem, 1.644rem + 1.78vw, 2.5rem);
  }
}
.section-info__title:not(:last-child) {
  margin-bottom: 1.3125rem;
}
.section-info__title--stories:not(:last-child) {
  margin-block-end: 1rem;
}
.section-info__date-block {
  font-size: 0.8125rem;
  font-weight: 400;
}
.section-info__date-block:not(:last-child) {
  margin-block-end: 1.5rem;
}
.section-info__text {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.67;
  /* 25/15 */
  opacity: 0.6;
}
.section-info__text:not(:last-child) {
  margin-bottom: 3rem;
}
.section-info__box-img {
  overflow: hidden;
  block-size: 100%;
  inline-size: 100%;
  display: flex;
}
@media (min-width: 48em) {
  .section-info__box-img {
    grid-area: block-img;
  }
}
@media (min-width: 48em) and (max-width: 59.375em) {
  .section-info__box-img {
    aspect-ratio: 274/600;
  }
}
@media (max-width: 23.49875em) {
  .section-info__box-img {
    aspect-ratio: 1/0.7813;
  }
}
@media (min-width: 59.375em) {
  .section-info__box-img--hero {
    aspect-ratio: 830/650;
  }
}
@media (min-width: 48em) and (max-width: 59.375em) {
  .section-info__box-img--hero {
    aspect-ratio: 274/650;
  }
}
.section-info__img {
  display: flex;
  inline-size: 100%;
  block-size: 100%;
}
@media (min-width: 48em) {
  .section-info__img--stories {
    position: absolute;
    block-size: 100%;
    inline-size: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: 1;
  }
}
@media (max-width: 23.49875em) {
  .section-info__img--stories {
    aspect-ratio: 1/0.8453;
  }
}
.section-info__img--hover img {
  transition: transform 0.3s;
  will-change: transform;
}
@media (any-hover: hover) {
  .section-info__img--hover:hover img {
    transform: scale(1.05);
  }
}
.section-info__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.articles-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  z-index: 3;
}
@media (max-width: 62em) {
  .articles-block {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 34.375em) {
  .articles-block {
    grid-template-columns: 1fr;
  }
}
.section-invite--pricing {
  margin-block-start: 5rem;
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .section-invite--pricing {
    margin-block-start: 3.5rem;
  }
}
@media (max-width: 37.5em) {
  .section-invite--pricing {
    margin-block-start: 2rem;
  }
}
.section-invite__img {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  block-size: 100%;
  inline-size: 100%;
  z-index: -1;
}
.section-invite__img img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-invite__content {
  min-block-size: 17.5rem;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  align-items: center;
  row-gap: 1.5rem;
}
@media (max-width: 42.5em) {
  .section-invite__content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
.section-invite__title {
  max-inline-size: 25rem;
  font-size: 40px;
  line-height: 1.2;
  /* 48/40 */
  letter-spacing: 0.2604375rem;
  text-transform: uppercase;
}
@media (max-width: 42.5em) {
  .section-invite__title {
    font-size: 2rem;
    line-height: 1.25;
    /* 40/32 */
    letter-spacing: 0.2083125rem;
  }
}
.price-section__container {
  max-inline-size: 73.125rem;
  padding-block: 3.75rem 5rem;
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .price-section__container {
    padding-block: 3.5rem;
  }
}
@media (max-width: 37.5em) {
  .price-section__container {
    padding-block: 2rem;
  }
}
.price-section__button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.price-section__button-box:not(:last-child) {
  margin-block-end: 3rem;
}
.box-button__choice {
  color: #000;
  font-size: 1.125rem;
  line-height: 1.39;
  /* 25/18 */
  opacity: 0.5;
  transition: opacity 0.3s;
}
.box-button__button {
  width: 4rem;
  height: 2rem;
  background-color: #DFDFDF;
  border-radius: 1rem;
  padding: 0.25rem;
  transition: background-color 0.3s;
  will-change: transform;
  display: block;
}
.box-button__button span {
  width: 1.5rem;
  aspect-ratio: 1;
  background-color: #000;
  border-radius: 50%;
  transform: translate(0);
  transition: background-color 0.3s, transform 0.3s;
  display: block;
}
.box-button__button--right span {
  transform: translateX(2rem);
  transition: transform 0.3s;
}
@media (any-hover: hover) {
  .box-button__button:hover {
    background-color: #000;
  }
  .box-button__button:hover span {
    background-color: #fff;
  }
}

.box-articles {
  display: flex;
  row-gap: 1.5rem;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  align-items: center;
}
@media (max-width: 62.06125em) {
  .box-articles {
    flex-direction: column;
  }
}
.box-articles__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 3.5rem 2.5rem;
  padding-inline: 2.5rem;
  background-color: #F5F5F5;
  color: #000;
  border: 0.0625rem solid transparent;
  transition: border 0.5s, transform 0.5s, box-shadow 0.5s;
  will-change: transform;
}
.box-articles__link--dark {
  position: relative;
  background-color: #000;
  color: #fff;
  padding-block: 5rem 4.375rem;
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .box-articles__link {
    padding: 2.5rem;
  }
}
@media (max-width: 40.68625em) {
  .box-articles__link {
    padding-block: 3.5rem 2.5rem;
    padding-inline: 1.3125rem;
  }
}
@media (any-hover: hover) {
  .box-articles__link:hover .box-articles__item {
    background-color: #DFDFDF;
    color: #000;
  }
  .box-articles__link:hover {
    border: 0.0625rem solid #000;
    transform: scale(1.027);
    box-shadow: 0 0 5px #000;
  }
  .box-articles__link--dark:hover .box-articles__item {
    background-color: #979797;
  }
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .box-articles__link {
    align-items: flex-start;
  }
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .box-articles__link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "title-block price-block" "text-block pricing-plan-block" "item-block .";
  }
}
.box-articles__title {
  font-size: 1.5rem;
  line-height: 1.04;
  /* 25/24 */
}
.box-articles__title:not(:last-child) {
  margin-block-end: 1.125rem;
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .box-articles__title {
    grid-area: title-block;
  }
}
.box-articles__text {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.67;
  /* 25/15 */
  opacity: 0.6;
  text-align: center;
}
.box-articles__text:not(:last-child) {
  margin-block-end: 2.5rem;
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .box-articles__text {
    text-align: start;
  }
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .box-articles__text {
    grid-area: text-block;
  }
  .box-articles__text:not(:last-child) {
    margin-block-end: 2rem;
  }
}
.box-articles__price {
  font-size: 2.5rem;
  line-height: 1.2;
  /* 48/40 */
  letter-spacing: 0.2604375rem;
  transition: opacity 0.3s;
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .box-articles__price {
    grid-area: price-block;
    justify-self: end;
  }
}
.box-articles__pricing-plan {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.67;
  /* 25/15 */
  opacity: 0.6;
  transition: opacity 0.3s;
}
.box-articles__pricing-plan:not(:last-child) {
  margin-block-end: 2.5rem;
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .box-articles__pricing-plan {
    grid-area: pricing-plan-block;
    justify-self: end;
  }
  .box-articles__pricing-plan:not(:last-child) {
    margin-block-end: 0;
  }
}
.box-articles__item {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  background-color: #000;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s, color 0.3s;
  color: #fff;
  text-align: center;
  transition: color 0.5s, background-color 0.5s;
  max-inline-size: 16.875rem;
  inline-size: 100%;
}
.box-articles__item--light {
  background-color: #fff;
  color: #000;
}
@media (max-width: 40.68625em) {
  .box-articles__item {
    max-inline-size: 15.3125rem;
  }
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .box-articles__item {
    grid-area: item-block;
  }
}

.active {
  opacity: 1;
  transition: opacity 0.3s;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.section-compare__container {
  max-inline-size: 49.375rem;
  color: #000;
  padding-block: 5rem;
}
@media (min-width: 40.68625em) and (max-width: 62.06125em) {
  .section-compare__container {
    padding-block: 3.5rem;
  }
}
@media (max-width: 37.5em) {
  .section-compare__container {
    padding-block: 2rem;
  }
}
.section-compare__box-title {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
  /* 48/40 */
  letter-spacing: 0.2604375rem;
  text-transform: uppercase;
  margin-block-end: 4rem;
}
@media (max-width: 47.99875em) {
  .section-compare__box-title {
    margin-block-end: 2rem;
    font-size: 1.875rem;
  }
}
.section-compare__body > *:not(:first-child) {
  border-bottom: 0.0625rem solid #DFDFDF;
}
.section-compare__body > :first-child {
  border-bottom: 0.0625rem solid #000;
}
.section-compare__body > *:not(:last-child) {
  margin-block-end: 1.4375rem;
}
.section-compare__features {
  padding-block-end: 1.4375rem;
}
@media (min-width: 48em) {
  .section-compare__features {
    display: flex;
    justify-content: space-between;
  }
}
.section-compare__title {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
@media (min-width: 48em) {
  .section-compare__title {
    padding-inline-start: 1.5rem;
  }
}
@media (max-width: 47.99875em) {
  .section-compare__title {
    margin-block-end: 1rem;
  }
}
@media (max-width: 47.99875em) {
  .section-compare__title--head-margin {
    margin-block-end: 0;
  }
}
.section-compare__services {
  padding-block-end: 1.4375rem;
}
@media (min-width: 48em) {
  .section-compare__services {
    display: flex;
    justify-content: space-between;
  }
}
.tariff {
  display: flex;
  flex-grow: 1;
}
@media (max-width: 47.99875em) {
  .tariff--head-display-none {
    display: none;
  }
}
@media (min-width: 48em) {
  .tariff--display-none {
    display: none;
  }
}
.tariff__list {
  display: flex;
  flex-grow: 1;
}
@media (min-width: 48em) {
  .tariff__list {
    justify-content: flex-end;
  }
}
@media (max-width: 47.99875em) {
  .tariff__list {
    justify-content: space-between;
    gap: 0.9375rem;
    max-width: 37.5rem;
  }
}
.tariff__item {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 48em) {
  .tariff__item {
    flex-basis: 8.75rem;
  }
}
@media (max-width: 47.99875em) {
  .tariff__item {
    font-size: 0.625rem;
    letter-spacing: 0.1041875rem;
    opacity: 0.6;
    margin-block-end: 0.5rem;
    flex-basis: 5rem;
    justify-content: flex-start;
  }
}

.accessible {
  display: flex;
  flex-grow: 1;
}
.accessible__list {
  display: flex;
  flex-grow: 1;
}
@media (min-width: 48em) {
  .accessible__list {
    justify-content: flex-end;
  }
}
@media (max-width: 47.99875em) {
  .accessible__list {
    justify-content: space-between;
    gap: 0.9375rem;
    max-width: 37.5rem;
  }
}
.accessible__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.accessible__item::before {
  content: "";
  background: url("../img/icons/checkmark.svg") center/contain no-repeat;
  width: 1rem;
  height: 0.75rem;
}
.accessible__item--opacity {
  opacity: 0;
}
@media (min-width: 48em) {
  .accessible__item {
    flex-basis: 8.75rem;
  }
}
@media (max-width: 47.99875em) {
  .accessible__item {
    flex-basis: 5rem;
    justify-content: flex-start;
  }
}